@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* Global styles */
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
}

.default-margin {
  margin-left: 7rem;
  margin-right: 7rem;
}

/* Default styles to share */
.title-logo-text-size {
  color: #0B0223;
  font-size: 2rem;
  font-weight: 700;
}

.text-size-small {
  color: #3C354F;
  font-size: .8rem;
  font-weight: 500;
  margin: 0;
}

.text-size-medium {
  color: #0B0223;
  font-size: 2rem;
  margin: 0;
}

.text-size-large {
  font-size: 4rem;
  font-weight: 800;
  margin: 0;
}

.text-style-linear-gradient {
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.special-color-text {
  color: #FF42A5;
}

.primary-btn {
  padding: 1rem 2.2rem;
  border-radius: 3rem;
  background: #FF42A5;
  color: #FFF;
  font-size: .8rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Navbar style starts */
.nav-gamer-logo {
  width: 5rem;
  height: 2.3rem;
  object-fit: cover;
}

.navbar-container,
.nav-logo-container,
.ul-logo-container,
nav ul,
.nav-icons-container {
  display: flex;
  align-items: center;
}

.navbar-container {
  justify-content: space-between;
}

.nav-logo-container,
.ul-logo-container,
nav ul,
.nav-icons-container {
  gap: 1rem;
}

.nav-icons-container {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  padding: .5rem 1.1rem;
}

nav ul li {
  list-style: none;
}

nav a {
  text-decoration: none;
}

header {
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

/* GOAT banner style starts */
.goat-banner-sec {
    background-image: url('images/goat-bg-img.png'), linear-gradient(90deg, rgba(231, 213, 222, 0.03), rgba(255, 66, 165, 0.03));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: left;
  }
  
  .goat-banner-container {
    display: flex;
    align-items: center;
  }
  
  .goat-banner-contents {
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .goat-banner-img-container img {
    width: 100%;
    height: 90%;
    object-fit: contain;
  }
  
  .goat-banner-img-container {
    padding: .5rem 1px;
  }
  
  .goat-icon-container {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
  }
  
  .goat-icon-container img {
    width: 1rem;
    height: 1rem;
  }
  
  #blue-btn {
    background: rgba(78, 197, 247, 1);
    margin-top: 1rem;
    margin-left: .1rem;
  }
  
  .goat-banner-contents h2+h1 {
    margin-bottom: 1rem;
  }
  /* Funny video section style starts */
.funny-video-sec {
    text-align: center;
    margin-top: 2rem;
  }
  
  .funny-video-sec>h2 {
    margin-bottom: 1rem;
  }
  
  .funny-video-sec>p {
    margin-bottom: 2rem;
  }
  
  .funny-video-cards-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  
  .funny-video-card img {
    width: 100%;
  }
  
  .funny-video-card {
    width: 23%;
    border-radius: 1rem;
  }

  /* Play instantly section style starts */
.play-instant-sec {
    margin-top: 2rem;
  }
  
  .play-instant-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .play-instant-img-container {
    width: 70%;
    text-align: right;
    position: relative;
  }
  
  .play-instant-img {
    width: 75%;
  }
  
  .play-instant-contents {
    text-align: right;
  }
  
  .play-instant-contents h2,
  .play-instant-contents p {
    padding-left: 45%;
    margin-bottom: 1rem;
  }
  
  .play-instant-absolute-img {
    position: absolute;
    bottom: -2rem;
    width: 35%
  }
  
  .play-instant-absolute-img img {
    width: 100%;
  }

  /* Icons of Games section style starts */
.icons-sec {
    margin-top: 6rem;
  }
  
  .icons-and-text {
    display: flex;
    align-items: center;
    /* gap: .1rem; */
    border-radius: 3rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }
  
  .icons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
  }
  
  .icons-and-text img {
    width: 3rem;
  }
  
  .icons-and-text:hover {
    border: 2px solid #FF42A5;
    color: #FF42A5;
  }
  /* Footer style starts */
.footer-sec {
    background: #0B0223;
    ;
    margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
    color: white;
  }
  
  .foot-items {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .white-text {
    color: white;
  }
  
  .footer-head-texts,
  .logos-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  
  .logos-container {
    gap: 1rem;
  }
  
  .logos-container img {
    width: 25px;
    height: 25px;
  }
  
  .foot-instruction {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: .5rem;
  }
  
  footer small {
    font-size: .7rem;
  }




/* Responsive style for mobile o small devices */
@media screen and (max-width: 576px) {
    .default-margin {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  
    /* Responsive navbar style for mobile */
    .navbar-container,
    nav ul,
    .ul-logo-container {
      display: flex;
      flex-direction: column;
    }
  
    nav ul {
      padding-left: 0;
    }
  
    /* Responsive GOAT banner style starts for mobile */
    .goat-banner-container {
      display: flex;
      flex-direction: column-reverse;
    }
  
    .goat-banner-contents {
      width: 100%;
      padding-left: 18%;
    }
  
    .goat-banner-img img {
      width: 90%;
      height: 90%;
      object-fit: contain;
    }
  
    .goat-banner-img {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  
    
  
    /* Funny video section style starts for mobile */
  
    .funny-video-cards-container {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  
    .funny-video-card {
      width: 100%;
    }
  
    /* Play instantly section responsive style starts for mobile */
  
    .play-instant-container {
      display: flex;
      flex-direction: column;
    }
  
    .play-instant-img-container {
      width: 100%;
      text-align: right;
    }
  
    .play-instant-img {
      width: 75%;
    }
  
    .play-instant-contents {
      text-align: center;
      width: 100%;
    }
  
    .play-instant-contents h2,
    .play-instant-contents p {
      padding-left: 0;
      margin-bottom: 1rem;
    }
  

    /* Icons of Games section responsive style starts for mobile */
  
    .icons-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0;
    }
  
    /* Footer Responsive style starts for mobile */
  
    .foot-items {
      width: 100%;
    }
  
    .footer-head-texts,
    .logos-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  
    .foot-instruction {
      display: grid;
      grid-template-columns: repeat(2, max-content);
    }
  }
  
  /* Responsive style for tablet or medium devices */
  @media screen and (min-width:576px) and (max-width: 960px) {
    .default-margin {
      margin-left: 3rem;
      margin-right: 3rem;
    }
  
    /* Responsive navbar style for tablet */
    .navbar-container,
    .ul-logo-container {
      display: flex;
      flex-direction: column;
    }
  
    nav ul {
      padding-left: 0;
    }
  
    /* Responsive GOAT banner style starts for tablet */
    .goat-banner-container {
      display: flex;
      flex-direction: column-reverse;
    }
  
    .goat-banner-contents {
      width: 100%;
      padding-left: 18%;
    }
  
    .goat-banner-img img {
      width: 90%;
      height: 90%;
      object-fit: contain;
    }
  
    .goat-banner-img {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  
  
    /* Funny video section style starts for tablet */
  
    .funny-video-cards-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      text-align: center;
    }
  
    .funny-video-card {
      width: 100%;
    }
  
    /* Play instantly section responsive style starts for tablet */
  
    .play-instant-container {
      display: flex;
      flex-direction: column;
    }
  
    .play-instant-img-container {
      width: 100%;
      text-align: right;
    }
  
    .play-instant-img {
      width: 75%;
    }
  
    .play-instant-contents {
      text-align: center;
      width: 100%;
    }
  
    .play-instant-contents h2,
    .play-instant-contents p {
      padding-left: 0;
      margin-bottom: 1rem;
    }
  
    
    /* Icons of Games section responsive style starts for tablet*/
  
    .icons-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0;
    }
  
    /* Footer Responsive style starts for tablet*/
  
    .foot-items {
      width: 100%;
    }
  
  }
  

